SERVER_DATABASE_URL=postgresql://postgres:postgres@localhost/zbav_se_me
SERVER_GEOAPIFY_TOKEN=xxx
SERVER_BETTER_AUTH_SECRET=1234567812345678123456781234567812345678123456781234567812345678
SERVER_JWT_SECRET=your-jwt-secret-key-here
SERVER_CONTENT_CDN=https://content.zbav-se.me
VITE_APP_ASSETS=/
VITE_ORIGIN=http://obsidian-ii.local:3030
VITE_SERVER_API=http://obsidian-ii.local:3031
SERVER_S3_API=upload.zbav-se.me
SERVER_S3_KEY=xxx
SERVER_S3_SECRET=xxx
SERVER_S3_BUCKET=zbav-se.me-content
SERVER_GITHUB=xxx
NODE_OPTIONS=--max-old-space-size=1400
ALLOWED_ORIGINS=http://localhost:6274,http://127.0.0.1:6274,http://obsidian-ii.local:3030,https://zbav-se.me
SERVER_DEBUG_DELAY_MS=0
