.aigiscode
.DS_Store
.env.local
.million
.output
.tanstack
.vercel
.nitro
.turbo
.vscode/chrome-debug-profile
*.log
dist
node_modules
playwright-report
results
temp
test-results
tsconfig.tsbuildinfo
zbav-se.me.sqlite3*
