@layer components {
	[data-justify="start"] {
		justify-content: flex-start;
	}

	[data-justify="center"] {
		justify-content: center;
	}

	[data-justify="end"] {
		justify-content: flex-end;
	}

	[data-justify="space-between"] {
		justify-content: space-between;
	}

	[data-justify="space-around"] {
		justify-content: space-around;
	}

	[data-justify="space-between"] {
		justify-content: space-between;
	}
}
