@layer components {
	.Fade {
		pointer-events: none;
		position: absolute;
		inset-inline: 0;
		z-index: 20;
		opacity: 0;
		will-change: opacity;
		overflow: hidden;

		@apply from-white/0 to-black/35;
	}

	.Fade[data-ui="Fade-top"] {
		top: -1px;

		@apply bg-linear-to-t;
	}

	.Fade[data-ui="Fade-bottom"] {
		bottom: -1px;

		@apply bg-linear-to-b;
	}
}
