@layer components {
	.Badge {
		display: flex;
		user-select: none;

		@apply gap-2;
	}

	.Badge[data-flow="horizontal"] {
		flex-direction: row;
		@apply items-center justify-center;
	}

	.Badge[data-flow="vertical"] {
		flex-direction: column;
		@apply items-center justify-center;
	}

	/** Tone */

	.Badge[data-tone="primary"][data-theme="light"] {
		@apply tone-primary-light;
	}

	.Badge[data-tone="primary"][data-theme="dark"] {
		@apply tone-primary-dark;
	}

	.Badge[data-tone="secondary"][data-theme="light"] {
		@apply tone-secondary-light;
	}

	.Badge[data-tone="secondary"][data-theme="dark"] {
		@apply tone-secondary-dark;
	}
}
