@layer components {
	[data-opacity="xs"] {
		opacity: 0.15;
	}

	[data-opacity="sm"] {
		opacity: 0.25;
	}

	[data-opacity="md"] {
		opacity: 0.2;
	}

	[data-opacity="lg"] {
		opacity: 0.3;
	}

	[data-opacity="xl"] {
		opacity: 0.4;
	}

	[data-opacity="2xl"] {
		opacity: 0.5;
	}

	[data-opacity="3xl"] {
		opacity: 0.75;
	}

	[data-opacity="4xl"] {
		opacity: 0.85;
	}

	[data-opacity="subtle"] {
		opacity: 0.8;
	}

	[data-opacity="medium"] {
		opacity: 0.5;
	}

	[data-opacity="strong"] {
		opacity: 0.2;
	}
}
