@layer components {
	.Icon {
		display: block;
		flex-shrink: 0;
		min-width: 0;
		min-height: 0;

		color: var(--color-icon);
	}

	/** Sizes */

	.Icon[data-ui-size="default"] {
		@apply text-lg;
	}

	.Icon[data-ui-size="xs"] {
		@apply text-sm;
	}
	.Icon[data-ui-size="sm"] {
		@apply text-base;
	}
	.Icon[data-ui-size="md"] {
		@apply text-lg;
	}
	.Icon[data-ui-size="lg"] {
		@apply text-xl;
	}
	.Icon[data-ui-size="xl"] {
		@apply text-2xl;
	}
	.Icon[data-ui-size="2xl"] {
		@apply text-3xl;
	}
	.Icon[data-ui-size="3xl"] {
		@apply text-4xl;
	}
	.Icon[data-ui-size="4xl"] {
		@apply text-5xl;
	}
}
