@layer components {
	.Typo {
		color: var(--color-text);
	}

	/** Sizes */

	.Typo[data-ui-size="xs"] {
		@apply text-xs;
	}
	.Typo[data-ui-size="sm"] {
		@apply text-sm;
	}
	.Typo[data-ui-size="md"] {
		@apply text-base;
	}
	.Typo[data-ui-size="lg"] {
		@apply text-lg;
	}
	.Typo[data-ui-size="xl"] {
		@apply text-xl;
	}
	.Typo[data-ui-size="2xl"] {
		@apply text-2xl;
	}
	.Typo[data-ui-size="3xl"] {
		@apply text-3xl;
	}
	.Typo[data-ui-size="4xl"] {
		@apply text-4xl;
	}

	/** Display */
	.Typo[data-ui-display="block"] {
		display: block;
	}
	.Typo[data-ui-display="inline"] {
		display: inline;
	}

	/** Font */
	.Typo[data-ui-font="light"] {
		@apply font-light;
	}
	.Typo[data-ui-font="normal"] {
		@apply font-normal;
	}
	.Typo[data-ui-font="bold"] {
		@apply font-bold;
	}

	/** Wrap */
	.Typo[data-ui-wrap="wrap"] {
		min-width: 0;
		max-width: 100%;
		white-space: normal;
		overflow: hidden;
		hyphens: auto;
		-webkit-hyphens: auto;
		text-wrap: wrap;
		word-break: break-all;
	}

	.Typo[data-ui-wrap="nowrap"] {
		min-width: 0;
		max-width: 100%;
		text-wrap: nowrap;
		word-break: keep-all;
	}

	/** Truncate */
	.Typo[data-ui-truncate="true"] {
		min-width: 0;
		max-width: 100%;
		text-wrap: nowrap;
		word-break: keep-all;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	/** Italic */
	.Typo[data-ui-italic="true"] {
		font-style: italic;
	}

	/** Tone */
	.Typo[data-ui-tone="primary"][data-ui-theme="light"] {
		@apply tone-primary-light;
	}

	.Typo[data-ui-tone="primary"][data-ui-theme="dark"] {
		@apply tone-primary-dark;
	}

	.Typo[data-ui-tone="secondary"][data-ui-theme="light"] {
		@apply tone-secondary-light;
	}

	.Typo[data-ui-tone="secondary"][data-ui-theme="dark"] {
		@apply tone-secondary-dark;
	}
}
