@layer components {
	[data-ui-tone="brand"][data-ui-theme="light"] {
		--color-text: color-mix(in srgb, var(--color-pink-900) 75%, black);
		--color-lead: color-mix(in srgb, var(--color-pink-700) 85%, white);
		--color-bg: color-mix(in srgb, var(--color-pink-200) 25%, transparent);
		--color-bg-alt: color-mix(in srgb, var(--color-pink-100) 70%, transparent);
		--color-border: color-mix(in srgb, var(--color-pink-300) 30%, transparent);
		--color-icon: color-mix(in srgb, var(--color-pink-600) 75%, white);
		--tw-shadow-color: color-mix(in srgb, var(--color-slate-700) 10%, transparent);
	}

	[data-ui-tone="brand"][data-ui-theme="dark"] {
		--color-text: color-mix(in srgb, var(--color-pink-50) 100%, transparent);
		--color-lead: color-mix(in srgb, var(--color-pink-200) 100%, transparent);
		--color-bg: color-mix(in srgb, var(--color-pink-900) 70%, black);
		--color-bg-alt: color-mix(in srgb, var(--color-pink-800) 70%, black);
		--color-border: color-mix(in srgb, var(--color-pink-500) 50%, transparent);
		--color-icon: color-mix(in srgb, var(--color-pink-100) 80%, black);
		--tw-shadow-color: color-mix(in srgb, var(--color-slate-700) 20%, transparent);
	}

	[data-ui-tone="primary"][data-ui-theme="light"] {
		--color-text: color-mix(in srgb, var(--color-pink-900) 60%, black);
		--color-lead: color-mix(in srgb, var(--color-pink-700) 70%, white);
		--color-bg: color-mix(in srgb, var(--color-pink-300) 70%, white);
		--color-bg-alt: color-mix(in srgb, var(--color-pink-400) 70%, white);
		--color-border: color-mix(in srgb, var(--color-pink-400) 10%, transparent);
		--color-icon: color-mix(in srgb, var(--color-slate-700) 85%, white);
		--tw-shadow-color: color-mix(in srgb, var(--color-slate-700) 20%, transparent);
	}

	[data-ui-tone="primary"][data-ui-theme="dark"] {
		--color-text: var(--color-pink-50);
		--color-lead: var(--color-pink-200);
		--color-bg: color-mix(in srgb, var(--color-pink-800) 75%, black);
		--color-bg-alt: color-mix(in srgb, var(--color-pink-700) 75%, black);
		--color-border: color-mix(in srgb, var(--color-pink-500) 50%, transparent);
		--color-icon: color-mix(in srgb, var(--color-pink-50) 80%, black);
		--tw-shadow-color: color-mix(in srgb, var(--color-pink-800) 40%, transparent);
	}

	[data-ui-tone="secondary"][data-ui-theme="light"] {
		--color-text: color-mix(in srgb, var(--color-violet-900) 95%, transparent);
		--color-lead: color-mix(in srgb, var(--color-violet-700) 100%, transparent);
		--color-bg: color-mix(in srgb, var(--color-violet-200) 75%, white);
		--color-bg-alt: color-mix(in srgb, var(--color-violet-300) 65%, white);
		--color-border: color-mix(in srgb, var(--color-violet-400) 10%, transparent);
		--color-icon: color-mix(in srgb, var(--color-slate-700) 85%, white);
		--tw-shadow-color: color-mix(in srgb, var(--color-slate-700) 10%, transparent);
	}

	[data-ui-tone="secondary"][data-ui-theme="dark"] {
		--color-text: color-mix(in srgb, var(--color-violet-50) 100%, transparent);
		--color-lead: color-mix(in srgb, var(--color-violet-200) 100%, transparent);
		--color-bg: color-mix(in srgb, var(--color-violet-800) 75%, black);
		--color-bg-alt: color-mix(in srgb, var(--color-violet-700) 75%, black);
		--color-border: color-mix(in srgb, var(--color-violet-500) 45%, transparent);
		--color-icon: color-mix(in srgb, var(--color-violet-50) 80%, black);
		--tw-shadow-color: color-mix(in srgb, var(--color-violet-900) 40%, transparent);
	}

	[data-ui-tone="subtle"][data-ui-theme="light"] {
		--color-text: color-mix(in srgb, var(--color-violet-900) 75%, black);
		--color-lead: color-mix(in srgb, var(--color-violet-700) 90%, white);
		--color-bg: color-mix(in srgb, var(--color-violet-300) 15%, white);
		--color-bg-alt: color-mix(in srgb, var(--color-violet-200) 25%, white);
		--color-border: color-mix(in srgb, var(--color-violet-400) 10%, transparent);
		--color-icon: color-mix(in srgb, var(--color-slate-500) 75%, white);
		--tw-shadow-color: color-mix(in srgb, var(--color-slate-700) 10%, transparent);
	}

	[data-ui-tone="subtle"][data-ui-theme="dark"] {
		--color-text: color-mix(in srgb, var(--color-slate-100) 100%, transparent);
		--color-lead: color-mix(in srgb, var(--color-violet-200) 100%, transparent);
		--color-bg: color-mix(in srgb, var(--color-violet-900) 65%, black);
		--color-bg-alt: color-mix(in srgb, var(--color-violet-800) 65%, black);
		--color-border: color-mix(in srgb, var(--color-violet-700) 35%, transparent);
		--color-icon: color-mix(in srgb, var(--color-slate-100) 85%, black);
		--tw-shadow-color: color-mix(in srgb, var(--color-slate-100) 30%, black);
	}

	[data-ui-tone="neutral"][data-ui-theme="light"] {
		--color-text: color-mix(in srgb, var(--color-slate-900) 100%, transparent);
		--color-lead: color-mix(in srgb, var(--color-slate-700) 100%, transparent);
		--color-bg: color-mix(in srgb, var(--color-slate-50) 100%, transparent);
		--color-bg-alt: color-mix(in srgb, var(--color-slate-200) 80%, transparent);
		--color-border: color-mix(in srgb, var(--color-slate-400) 5%, transparent);
		--color-icon: color-mix(in srgb, var(--color-slate-500) 100%, transparent);
		--tw-shadow-color: color-mix(in srgb, var(--color-slate-700) 10%, transparent);
	}

	[data-ui-tone="neutral"][data-ui-theme="dark"] {
		--color-text: color-mix(in srgb, var(--color-slate-50) 100%, transparent);
		--color-lead: color-mix(in srgb, var(--color-slate-200) 100%, transparent);
		--color-bg: color-mix(in srgb, var(--color-slate-900) 100%, transparent);
		--color-bg-alt: color-mix(in srgb, var(--color-slate-900) 80%, transparent);
		--color-border: color-mix(in srgb, var(--color-slate-500) 100%, transparent);
		--color-icon: color-mix(in srgb, var(--color-slate-50) 75%, black);
		--tw-shadow-color: color-mix(in srgb, var(--color-slate-100) 25%, black);
	}

	[data-ui-tone="warning"][data-ui-theme="light"] {
		--color-text: color-mix(in srgb, var(--color-amber-700) 65%, black);
		--color-lead: color-mix(in srgb, var(--color-amber-700) 100%, transparent);
		--color-bg: color-mix(in srgb, var(--color-amber-100) 65%, white);
		--color-bg-alt: color-mix(in srgb, var(--color-amber-200) 25%, transparent);
		--color-border: color-mix(in srgb, var(--color-amber-400) 30%, transparent);
		--color-icon: color-mix(in srgb, var(--color-amber-700) 80%, white);
		--tw-shadow-color: color-mix(in srgb, var(--color-slate-700) 10%, transparent);
	}

	[data-ui-tone="warning"][data-ui-theme="dark"] {
		--color-text: color-mix(in srgb, var(--color-amber-50) 100%, transparent);
		--color-lead: color-mix(in srgb, var(--color-amber-200) 100%, transparent);
		--color-bg: color-mix(in srgb, var(--color-amber-900) 70%, black);
		--color-bg-alt: color-mix(in srgb, var(--color-amber-800) 70%, black);
		--color-border: color-mix(in srgb, var(--color-amber-500) 55%, transparent);
		--color-icon: color-mix(in srgb, var(--color-amber-50) 80%, black);
		--tw-shadow-color: color-mix(in srgb, var(--color-amber-900) 45%, transparent);
	}

	[data-ui-tone="danger"][data-ui-theme="light"] {
		--color-text: color-mix(in srgb, var(--color-rose-800) 95%, black);
		--color-lead: color-mix(in srgb, var(--color-rose-700) 100%, transparent);
		--color-bg: color-mix(in srgb, var(--color-rose-100) 70%, white);
		--color-bg-alt: color-mix(in srgb, var(--color-rose-200) 60%, white);
		--color-border: color-mix(in srgb, var(--color-rose-400) 30%, transparent);
		--color-icon: color-mix(in srgb, var(--color-rose-700) 85%, white);
		--tw-shadow-color: color-mix(in srgb, var(--color-slate-700) 10%, transparent);
	}

	[data-ui-tone="danger"][data-ui-theme="dark"] {
		--color-text: color-mix(in srgb, var(--color-rose-50) 100%, transparent);
		--color-lead: color-mix(in srgb, var(--color-rose-200) 100%, transparent);
		--color-bg: color-mix(in srgb, var(--color-rose-900) 70%, black);
		--color-bg-alt: color-mix(in srgb, var(--color-rose-800) 70%, black);
		--color-border: color-mix(in srgb, var(--color-rose-500) 60%, transparent);
		--color-icon: color-mix(in srgb, var(--color-rose-50) 80%, black);
		--tw-shadow-color: color-mix(in srgb, var(--color-rose-900) 45%, transparent);
	}

	[data-ui-tone="link"][data-ui-theme="light"] {
		--color-text: color-mix(in srgb, var(--color-blue-700) 100%, transparent);
		--color-lead: color-mix(in srgb, var(--color-blue-800) 100%, transparent);
		--color-bg: color-mix(in srgb, var(--color-blue-50) 75%, white);
		--color-bg-alt: color-mix(in srgb, var(--color-blue-100) 70%, white);
		--color-border: color-mix(in srgb, var(--color-blue-400) 10%, transparent);
		--color-icon: color-mix(in srgb, var(--color-blue-700) 85%, white);
		--tw-shadow-color: color-mix(in srgb, var(--color-slate-700) 10%, transparent);
	}

	[data-ui-tone="link"][data-ui-theme="dark"] {
		--color-text: color-mix(in srgb, var(--color-blue-50) 100%, transparent);
		--color-lead: color-mix(in srgb, var(--color-blue-200) 100%, transparent);
		--color-bg: color-mix(in srgb, var(--color-blue-900) 70%, black);
		--color-bg-alt: color-mix(in srgb, var(--color-blue-800) 70%, black);
		--color-border: color-mix(in srgb, var(--color-blue-500) 55%, transparent);
		--color-icon: color-mix(in srgb, var(--color-blue-50) 80%, black);
		--tw-shadow-color: color-mix(in srgb, var(--color-blue-900) 45%, transparent);
	}
}
