@layer components {
	.Button {
		display: block;
		color: var(--color-text);
		background: var(--color-background);
		@apply flex flex-row items-center justify-center gap-2;
	}

	/** Justify */

	.Button[data-justify="start"] {
		justify-content: flex-start;
	}

	.Button[data-justify="between"] {
		justify-content: space-between;
	}

	/** Sizes */

	.Button[data-size="xs"] {
		@apply p-1 text-xs;
	}

	.Button[data-size="sm"] {
		@apply p-2 text-sm;
	}

	.Button[data-size="md"] {
		@apply p-3 text-base;
	}

	.Button[data-size="lg"] {
		@apply p-4 text-lg;
	}

	.Button[data-size="xl"] {
		@apply p-5 text-xl;
	}

	/** Tone */

	.Button[data-tone="primary"][data-theme="light"] {
		@apply tone-primary-light;
	}

	.Button[data-tone="secondary"][data-theme="light"] {
		@apply tone-secondary-light;
	}
}
