@layer components {
	.Button {
		color: var(--color-text);

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		@apply gap-4;
	}

	/** Justify */

	.Button[data-justify="start"] {
		justify-content: flex-start;
	}

	.Button[data-justify="between"] {
		justify-content: space-between;
	}

	/** Tone */

	.Button[data-tone="primary"][data-theme="light"] {
		@apply tone-primary-light;
	}

	.Button[data-tone="primary"][data-theme="dark"] {
		@apply tone-primary-dark;
	}

	.Button[data-tone="secondary"][data-theme="light"] {
		@apply tone-secondary-light;
	}

	.Button[data-tone="secondary"][data-theme="dark"] {
		@apply tone-secondary-dark;
	}
}
