@layer components {
	[data-ui-tone="link"][data-ui-theme="light"] {
		--color-text: color-mix(in srgb, var(--color-blue-700) 100%, transparent);
		--color-lead: color-mix(in srgb, var(--color-blue-800) 100%, transparent);
		--color-bg: color-mix(in srgb, var(--color-blue-50) 75%, white);
		--color-border: color-mix(in srgb, var(--color-blue-400) 10%, transparent);
		--color-icon: color-mix(in srgb, var(--color-blue-700) 85%, white);
		--tw-shadow-color: color-mix(in srgb, var(--color-slate-700) 10%, transparent);
	}

	[data-ui-tone="link"][data-ui-theme="dark"] {
		--color-text: color-mix(in srgb, var(--color-blue-50) 100%, transparent);
		--color-lead: color-mix(in srgb, var(--color-blue-200) 100%, transparent);
		--color-bg: color-mix(in srgb, var(--color-blue-900) 70%, black);
		--color-border: color-mix(in srgb, var(--color-blue-500) 55%, transparent);
		--color-icon: color-mix(in srgb, var(--color-blue-50) 80%, black);
		--tw-shadow-color: color-mix(in srgb, var(--color-blue-900) 45%, transparent);
	}
}
