@theme {
	--color-neutral-50: var(--color-stone-50);
	--color-neutral-100: var(--color-stone-100);
	--color-neutral-200: var(--color-stone-200);
	--color-neutral-300: var(--color-stone-300);
	--color-neutral-400: var(--color-stone-400);
	--color-neutral-500: var(--color-stone-500);
	--color-neutral-600: var(--color-stone-600);
	--color-neutral-700: var(--color-stone-700);
	--color-neutral-800: var(--color-stone-800);
	--color-neutral-900: var(--color-stone-900);

	--color-neutral-xs: var(--color-neutral-50);
	--color-neutral-sm: var(--color-neutral-100);
	--color-neutral-md: var(--color-neutral-500);
	--color-neutral-lg: var(--color-neutral-700);
	--color-neutral-xl: var(--color-neutral-900);
}

@utility tone-neutral-light {
	--color-text: var(--color-neutral-xl);
	--color-background: var(--color-neutral-xs);
	--color-border: color-mix(in srgb, var(--color-neutral-md) 30%, transparent);

	@apply shadow-neutral-md/20;
}

@utility tone-neutral-dark {
	--color-text: var(--color-neutral-xs);
	--color-background: var(--color-neutral-xl);
	--color-border: var(--color-neutral-md);

	@apply shadow-neutral-md/20;
}

@layer components {
	[data-ui-tone="neutral"][data-ui-theme="light"] {
		@apply tone-neutral-light;
	}

	[data-ui-tone="neutral"][data-ui-theme="dark"] {
		@apply tone-neutral-dark;
	}
}
