@theme {
	--color-primary-50: var(--color-fuchsia-50);
	--color-primary-100: var(--color-fuchsia-100);
	--color-primary-200: var(--color-fuchsia-200);
	--color-primary-300: var(--color-fuchsia-300);
	--color-primary-400: var(--color-fuchsia-400);
	--color-primary-500: var(--color-fuchsia-500);
	--color-primary-600: var(--color-fuchsia-600);
	--color-primary-700: var(--color-fuchsia-700);
	--color-primary-800: var(--color-fuchsia-800);
	--color-primary-900: var(--color-fuchsia-900);
}

@utility tone-primary-light {
	--color-text: var(--color-slate-900);
	--color-background: color-mix(in srgb, var(--color-primary-200) 50%, white);
	--color-border: color-mix(in srgb, var(--color-primary-400) 45%, transparent);

	@apply shadow-black/10;
}

@utility tone-primary-dark {
	--color-text: var(--color-primary-50);
	--color-background: color-mix(in srgb, var(--color-primary-800) 80%, black);
	--color-border: color-mix(in srgb, var(--color-primary-500) 70%, transparent);

	@apply shadow-black/10;
}

@layer components {
	[data-ui-tone="primary"][data-ui-theme="light"] {
		@apply tone-primary-light;
	}

	[data-ui-tone="primary"][data-ui-theme="dark"] {
		@apply tone-primary-dark;
	}
}
