@utility tone-primary-light {
	--color-text: var(--color-slate-700);
	--color-background: color-mix(in srgb, var(--color-pink-300) 65%, white);
	--color-border: color-mix(in srgb, var(--color-pink-400) 30%, transparent);
	--color-icon: color-mix(in srgb, var(--color-text) 75%, white);

	@apply shadow-slate-800/20;
}

@utility tone-primary-dark {
	--color-text: var(--color-pink-50);
	--color-background: color-mix(in srgb, var(--color-pink-800) 75%, black);
	--color-border: color-mix(in srgb, var(--color-pink-500) 50%, transparent);
	--color-icon: color-mix(in srgb, var(--color-text) 80%, black);

	@apply shadow-slate-800/15;
}

@layer components {
	[data-ui-tone="primary"][data-ui-theme="light"] {
		@apply tone-primary-light;
	}

	[data-ui-tone="primary"][data-ui-theme="dark"] {
		@apply tone-primary-dark;
	}
}
