@layer components {
	.Icon {
		display: block;
		flex-shrink: 0;
		min-width: 0;
		min-height: 0;
	}

	/** Sizes */

	.Icon[data-size="xs"] {
		@apply text-sm;
	}
	.Icon[data-size="sm"] {
		@apply text-base;
	}
	.Icon[data-size="md"] {
		@apply text-lg;
	}
	.Icon[data-size="lg"] {
		@apply text-xl;
	}
	.Icon[data-size="xl"] {
		@apply text-2xl;
	}
	.Icon[data-size="2xl"] {
		@apply text-3xl;
	}
	.Icon[data-size="3xl"] {
		@apply text-4xl;
	}
	.Icon[data-size="4xl"] {
		@apply text-5xl;
	}
}
